NODE_ENV=development
APP_PORT=3000
APP_NAME="NestJS API"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
FRONTEND_DOMAIN=http://localhost:3000
BACKEND_DOMAIN=http://localhost:3000

DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=inelevenadmin
DATABASE_PASSWORD=inelevenpassword
DATABASE_NAME=inelevendb
DATABASE_SYNCHRONIZE=true
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

MAIL_HOST=maildev
MAIL_PORT=1025
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=true
MAIL_SECURE=false
MAIL_REQUIRE_TLS=false
MAIL_DEFAULT_EMAIL=noreply@example.com
MAIL_DEFAULT_NAME=Api
MAIL_CLIENT_PORT=1080

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SMTP_EMAIL=fazeelahmedkhatri@gmail.com
SMTP_PASSWORD=vxbtlqcxrkbufpht

WORKER_HOST=redis://localhost:6379/1

FPTOKEN_SECRET=th!sIsMyS3cr3t
ACCESS_TOKEN_SECRET=thisisaccesstokensecret
REFRESH_TOKEN_SECRET=thisisrefreshtokensecret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY=1y
REDIS_PERMISSIONS_EXPIRY=31536000

OTP_EXPIRY_TIME = 5

GOOGLE_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK=http://localhost:3000/api/v1/auth/google/redirect

FACEBOOK_ID=
FACEBOOK_SECRET=
FACEBOOK_CALLBACK=  http://localhost:3000/api/v1/auth/facebook/redirect